---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@components/Post.astro";
import Profile from "@components/Profile.astro";

const blogEntries = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));

const title = "Richard Halford's blog";
const url = "https://www.rshalford.com";
const type = "website";
const description = "Richard Halford's blog";
---

<BaseLayout title={title} url={url} type={type} description={description}>
  <main>
    <section class="blog">
      <h1>{title}</h1>
      {
        blogEntries.map((post) => (
          <Post
            draft={post.data.draft}
            title={post.data.title}
            description={post.data.description}
            author={post.data.author}
            tags={post.data.tags}
            footnote={post.data.footnote}
            content={post.data.content}
            canonicalURL={`/${post.data.content}/${post.slug}`}
            pubDate={post.data.pubDate}
          />
        ))
      }
    </section>
    <Profile />
  </main>
</BaseLayout>

<style lang="scss">
  main {
    min-height: 100vh;
    max-width: 80ch;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 0 1rem;
    margin: 0 auto;

    section {
      h1 {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (max-width: 636px) {
    main {
      flex-direction: column;
    }
  }
</style>
