---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, canonicalURL } = Astro.props;
---

<div class="post">
  <a href={canonicalURL} rel="prefetch" transition:name={title}>{title}</a>
  <p class="date">{pubDate}</p>
  <p class="description">{description}</p>
</div>

<style lang="scss">
  .post {
    .date {
      font-size: 0.9rem;
      margin: 0;
      color: rgb(var(--text-medium));
    }

    .description {
      font-size: 0.9rem;
      margin: 0 0 2rem;
    }
  }
</style>
