---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostNav from "@components/PostNav.astro";

const type = "article";
const { post, prevPost, nextPost } = Astro.props;
---

<BaseLayout
  title={post.data.title}
  url={`https://www.rshalford.com/${post.data.content}/${post.slug}`}
  type={type}
  description={post.data.description}
>
  <main>
    <p class="detail">
      {post.data.author} - {post.data.pubDate.toString()}
    </p>
    <h1>{post.data.title}</h1>
    {post.data.tags.map((tag: string) => <p class="tags">#{tag}</p>)}
    <article>
      <slot />
    </article>
    <PostNav {prevPost} {nextPost} />
  </main>
</BaseLayout>

<style lang="scss">
  main {
    grid-area: main;

    .detail {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .tags {
      display: inline-block;
      color: rgb(var(--rose));
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 0.5rem 0 0;
    }

    article {
      margin: 0 auto;
    }
  }
</style>
