---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostNav from "@components/PostNav.astro";
const { post, prevPost, nextPost } = Astro.props;
---

<BaseLayout pageTitle={post.title}>
  <main>
    <p class="detail">
      {post.author} - {post.pubDate.toString()}
    </p>
    <h1>{post.title}</h1>
    {post.tags.map((tag: string) => <p class="tags">#{tag}</p>)}
    <article>
      <slot />
    </article>
    <PostNav {prevPost} {nextPost} />
  </main>
</BaseLayout>

<style lang="scss">
  main {
    grid-area: main;

    .detail {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .tags {
      display: inline-block;
      color: var(--rose);
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 0.5rem 0 0;
    }

    article {
      margin: 0 auto;
    }
  }
</style>
