---
import BaseLayout from "@layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main>
    <p class="detail">{frontmatter.pubDate} - {minutesRead}</p>
    <h1>{frontmatter.title}</h1>
    {frontmatter.tags.map((tag: string) => <p class="tags">#{tag}</p>)}
    <article>
      <slot />
    </article>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    grid-area: main;

    .detail {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .tags {
      display: inline-block;
      color: var(--rose);
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 0.5rem 0 0;
    }

    article {
      margin: 0 auto;
    }
  }
</style>
