---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostNav from "@components/PostNav.astro";

const type = "article";
const { post, prevPost, nextPost } = Astro.props;
---

<BaseLayout
  title={post.data.title}
  url={`https://www.rshalford.com/${post.data.content}/${post.slug}`}
  type={type}
  description={post.data.description}
>
  <main>
    <p class="detail">
      {post.data.author} - {post.data.pubDate.toString()}
    </p>
    <h1 transition:name={post.data.title}>{post.data.title}</h1>
    {
      post.data.tags.map((tag: string) => (
        <a class="tags" href={`/${post.data.content}/tags/${tag}`}>
          #{tag}
        </a>
      ))
    }
    <article>
      <slot />
    </article>
    <PostNav {prevPost} {nextPost} />
  </main>
</BaseLayout>

<style lang="scss">
  main {
    min-height: 100vh;
    max-width: 80ch;
    grid-area: main;
    padding: 0 1rem;
    margin: 0 auto;

    .detail {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .tags {
      display: inline-block;
      color: rgb(var(--cyan));
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 1rem 0 0;
    }

    article {
      margin: 0 auto;
    }
  }
</style>
